@model IEnumerable<Rahbaran_Andishe.Models.Form>

@{
    ViewBag.Title = "لیست محصولات ";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="panel">
    <header class="panel-heading">
        لیست محصولات
        <span class="tools pull-left">
            <a class="fa fa-chevron-down" href="javascript:;"></a>
        </span>
    </header>
    <div class="panel-body">
        <div class="adv-table editable-table">
            <div class="clearfix">
                <div class="btn-group">
                    @Html.ActionLink("افزودن محصول", "Add", "AdminIM", null, new { @class = "btn btn-success" })
                </div>
            </div>
        </div>
        <div class="space15"></div>
        <table class="table editable-table table-hover table-bordered" id="editable-sample">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Family)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Generic)
                    </th>
                    <th>
                        @Html.DisplayNameFor(x => x.CompanyName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(x => x.Industry)
                    </th>
                    <th>
                        @Html.DisplayNameFor(x => x.Education)
                    </th>
                    <th>
                        @Html.DisplayNameFor(x => x.PhoneNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(x => x.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(x => x.CityID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(x => x.OtherfieldID)
                    </th>
                    <th>@Html.DisplayName("عملیات")</th>
                </tr>
            </thead>
            <tbody>
                @if (!Model.Any())
            {
                    <tr><td colspan="8" class="text-center">هیچ آیتمی وجود ندارد</td></tr>
                }
                else
                {
                    foreach (var item in Model)
                    {
                        <tr class="">
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Family)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Generic)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CompanyName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Industry)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Education)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PhoneNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CityCategory.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OtherfieldsCategory.Title)
                            </td>
                            <td>
                                @using (Html.BeginForm("Delete", "AdminIM", new { id = item.Id }))
                                {
                                    @Html.ActionLink("ویرایش", "Edit", new { id = item.Id }, new { @class = "btn btn-primary btn-xs" })
                                    <button class="btn btn-danger btn-xs" type="submit">
                                        حذف
                                    </button>
                                }
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

</section>
